<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nico.student.mapper.LogMapper">
	<update id="loginSave">
		INSERT INTO s_log (ip,logintime,sid) VALUES (#{ip},#{logintime},#{sid})
	</update>
	<update id="logoutSave">
		UPDATE s_log SET logouttime = #{logouttime} WHERE logintime = #{logintime}
	</update>
	
	<select id="getAll" resultType="com.nico.student.bean.Log">
		SELECT * FROM s_log 
		WHERE sid = #{sid}
		LIMIT #{page},#{limit}
		
	</select>
	<select id="getCount" resultType="Integer">
		SELECT count(lid) FROM s_log
		WHERE sid = #{sid}
	</select>
	
</mapper>
