<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nico.student.mapper.TypeMapper">

	<select id="getAll" resultType="com.nico.student.bean.Type">
		SELECT * FROM s_type
	</select>
	<select id="getCount" resultType="Integer">
		SELECT COUNT(id) FROM s_type
	</select>
	
</mapper>
